html,body{
  margin: 0;
  padding:0;
  background: url(/assets/images/login_bg.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* 页面登录/注册 */
.login_reg{
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

/* 后台管理系统背景 */
.title-box{
  height: 60px;
  background: url(/assets/images/login_title.png) no-repeat center;
}
.layui-form{
  padding:0 30px;
}

.reg-box{
  display:none;
}
.links{
  display: flex;
  justify-content: flex-end;
}
.links a{
  color:blue;
  font-size: 12px;
}
.layui-input{
  padding-left: 32px;
}